<!DOCTYPE html>
<html>

<head>

    <title>Especial Classes</title>
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <header>
        <div class="links">
            <a href="/" class="active">Teachers</a>
            <a href="/students" class="active">Students</a>
        </div>
        
    </header>

    {% block content %}  {% endblock %}
       
</body>

</html>