<div class="item">
<div>Avatar</div>
<div>
<input 
    type="url"
    name="avatar_url"
    placeholder="http://"
    value = "{{ teacher.avatar_url }}"
    >
</div>
</div>

<div class="item">
<div>Aluno</div>
<div>
<input 
    type="text"
    name="name"
    placeholder="Nome do Professor"
    value = "{{ teacher.name }}"
    >
</div>
</div>

<div class="item">
<div>Data de Nascimento</div>
<div>
<input 
    type="date"
    name="birth"
    value="{{ teacher.birth }}">
</div>
</div>

<div class="item">
<div>E-mail</div>
<div>
<input 
    type="email"
    name="email"
    value="{{ teacher.email }}">
</div>
</div>

<div class="item">
<div>Ano Escolar</div>
<div>

<select name="grade"></select>
<option value="aEF" {%if student.schoolyear == "aEF"%}select{%endif%}>6º Ano do Ensino Fundamental</option>
<option value="bEF"{%if student.schoolyear == "bEF"%}select{%endif%}>7º Ano do Ensino Fundamental</option>
<option value="cEF"{%if student.schoolyear == "cEF"%}select{%endif%}>8º Ano do Ensino Fundamental</option>
<option value="dEF"{%if student.schoolyear == "dEF"%}select{%endif%}>9º Ano do Ensino Fundamental</option>
<option value="eEM"{%if student.schoolyear == "eEM"%}select(%endif%)>1º Ano do Ensino Médio</option>
<option value="fEM"{%if student.schoolyear == "fEM"%}select(%endif%)>2º Ano do Ensino Médio</option>
<option value="gEM"{%if student.schoolyear == "gEM"%}select(%endif%)>3º Ano do Ensino Médio</option>

</div>
</div>

<div class="item">
<div>Carga Horária Semanal</div>
<div>
        <input 
        type="number"
        name="workload"
        placeholder="Preencha o valor em horas"
        value="{{ teacher.workload }}">
</div>
</div>

<button id="editar" type="submit">Salvar</button>


