<div class="item">
<div>Avatar</div>
<div>
<input 
    type="url"
    name="avatar_url"
    placeholder="http://"
    value = "{{ student.avatar_url }}"
    >
</div>
</div>

<div class="item">
<div>Aluno</div>
<div>
<input 
    type="text"
    name="name"
    placeholder="Nome do Aluno"
    value = "{{ student.name }}"
    >
</div>
</div>

<div class="item">
<div>Data de Nascimento</div>
<div>
<input 
    type="date"
    name="birth"
    value="{{ student.birth }}">
</div>
</div>

<div class="item">
<div>E-mail</div>
<div>
<input 
    type="email"
    name="email"
    value="{{ student.email }}">
</div>
</div>

<div class="item">
<div>Ano Escolar</div>
<div>

<select name="grade">
<option 
value="6º Ano do Ensino Fundamental"{% if student.grade == "6º Ano do Ensino Fundamental"%}select{% endif %}>
6º Ano do Ensino Fundamental
</option>
<option 
value="7º Ano do Ensino Fundamental"{% if student.grade == "7º Ano do Ensino Fundamental"%}select{% endif %}>
7º Ano do Ensino Fundamental
</option>
<option 
value="8º Ano do Ensino Fundamental"{% if student.grade == "8º Ano do Ensino Fundamental"%}select{% endif %}>
8º Ano do Ensino Fundamental
</option>
<option 
value="9º Ano do Ensino Fundamental"{% if student.grade == "9º Ano do Ensino Fundamental"%}select{% endif %}>
9º Ano do Ensino Fundamental
</option>
<option 
value="1º Ano do Ensino Médio"{% if student.grade == "1º Ano do Ensino Médio"%}select{% endif %}>
1º Ano do Ensino Médio
</option>
<option
value="2º Ano do Ensino Médio"{% if student.grade == "2º Ano do Ensino Médio"%}select{% endif %}>
2º Ano do Ensino Médio
</option>
<option 
value="3º Ano do Ensino Médio"{% if student.grade == "3º Ano do Ensino Médio"%}select{% endif %}>
3º Ano do Ensino Médio
</option>
</select>
</div>
</div>

<div class="item">
<div>Carga Horária Semanal</div>
<div>
        <input 
        type="number"
        name="workload"
        placeholder="Preencha com valor em horas"
        value="{{ student.workload }}">
</div>
</div>

<button id="editar" type="submit">Salvar</button>