{% extends 'layout.njk' %}

{% block content %}

<div class="card">

<section 
        class="avatar"
        style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></section>
<section class="details">
<h3>Descrição</h3>

<div class="item">
<div>Aluno</div>
<div>{{ student.name }}</div>
</div>

<div class="item">
<div>Idade</div>
<div>{{ student.age }}</div>
</div>

<div class="item">
<div>Escolaridade</div>
<div>
<select name="graduation">
<option value="medio"
        {% if student.graduation == "medio" %} selected 
        {% endif %}
        >Ensino Médio Completo
</option>
<option value="superior"
        {% if student.graduation == "superior" %}
        {% endif %}
        >Ensino Superior Completo
</option>
<option value="mestrado"
        {% if student.graduation == "mestrado" %}
        {% endif %}
        >Mestrado
</option>
<option value="doutorado"
        {% if student.graduation == "doutorado" %}
        {% endif %}
        >Doutorado
</option>
</select>
</div>
</div>

<div class="item">
<div>Tipo de aula</div>
<div>
<span>{{ "À distância" if student.classes == "EAD" else "Presencial" }}</span>
</div>
</div>

<div class="item">
<div>Acompanhamento</div>
<div>
        {% for service in student.services %}
        {{ service }}
        {% endfor %}
</div>
</div>

<div class="item">
<div>Desde</div>
<div>{{ student.created_at }}</div>
</div>

<a id="editar" href="/students/{{ student.id }}/edit" class="button">Editar</a>
</section>
</div>

{% endblock content %}