@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color:#8a2be2;
    --secundary-color:#0000ff;
    --third-color:#f7df1e 
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 32px;
    color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
}

p {
    color: white;
}
.links {
    font-size: 24px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #2E8B57;
    position: relative;
}

.links a.active {
    font-weight: bolder;
    color: var(--primary-color);

}

.links a:hover {
    
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    
}

.links a:hover::after {
    width: 100%;
    transition: width 700ms ease-in-out 100ms;
}

/* ===== CARD ==== */

.card {
    background-color: blueviolet;
    width: 800px;
    height: 500px;

    /* espacamento ao centro */
    margin: 45px auto;

    /* grid dividido ao meio */
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;

    /* sombra */
    box-shadow: 1px 2px 6px 1px white;

    /* animacao */
    animation: up 700ms ease;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}
/* details */

.details {
    padding: 8px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 6px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #111;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.details .item span {
    padding: 4px 2px;
    background-color: var(--third-color);
    border-radius: 8px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

}

/* form */

input {
    width: 100%;
    outline: none;
    color: black;
    font-weight: bold;
    font-size: 16 px;
}

input[type="radio"] {
    width: 100%;
    margin-right: 5px;
            
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
    color: black;
}

input[type="text"] {
    font-size: 16px;
}

option {
    font-size: 16px;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--third-color);
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#editar {
    padding: 8px 32px;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    background-color: var(--third-color);
    box-sizing: border-box;
    display: block;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: darksalmon;
}