@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color:#8a2be2;
    --secundary-color:#0000ff 
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #ffffff;
    text-align: center;
    padding: 32px;
    color: var(--primary-color);
    width: 100%;
    box-sizing: border-box;
}

p {
    color: white;
}
.links {
    font-size: 24px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #2E8B57;
    position: relative;
}

.links a.active {
    font-weight: bolder;
    color: var(--primary-color);

}

.links a:hover {
    
    color: var(--primary-color);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
    
}

.links a:hover::after {
    width: 100%;
    transition: width 700ms ease-in-out 100ms;
}

/* ===== CARD ==== */

.card {
    background-color: blueviolet;
    width: 800px;
    height: 400px;
}